html {
  line-height: 1.6;
  font-family: 'Nunito', sans-serif;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

body > #root > div {
  height: 100vh;
}

body {
  margin: 0;
  background: #444444; 
}

.main {
	display: grid;
	grid-template-rows: 1fr 3fr;
	border: 1px solid black;
	align-self: center;
	justify-self: center;
	grid-gap: 10px;
	padding: 25px;
	border-radius: 2.5px;
  height: 600px;
  width: 300px;
  background: #2D8AD2;
  border: 1px solid #2D8AD2;
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
}

.main:hover {
  box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.2);
}

.display {
  display: grid;
  min-width: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  max-height: 550px;
}

.title {
  padding: 15px;
}

#city {
  color: white;
}

#info {
  font-weight: 700;
  color: white;
  position: relative;
  top: -120px;
  padding: 10px;
}

#temp {
  font-size: 30px;
  padding: 10px;
  color: white;
  position: relative;
  top: -80px;
}

#img {
  height: 150px;
  width: 150px;
  align-self: start;
  position: relative;
  top: -50px;
  padding: 10px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.climate {
  display: grid;
  align-self: center;
  justify-self: center;
  height: 250px;
  grid-template-rows: 2fr 1fr 1fr;
  padding: 15px;
}

.extra {
  padding: 15px;
  position: relative;
  top: -20px;
}

#humid {
  padding: 10px;
  color: white;
}

#wind {
  padding: 10px;
  color: white;
  position: relative;
  top: 20px;
}

.form {
  align-self: center;
  margin-left: 30px;
}

input {
  width: 117px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('./search.png');
  background-position: 2.5px 2.5px; 
  padding: 5px 20px 5px 25px;
  background-repeat: no-repeat;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin-right: 10px;
}

input:focus {
  width: 50%;
}  

#formsubmit {
  padding: 5px;
  color: white;
  background: #da913b;
  border: 1px solid #da913b;
  border-radius: 2.5px;
  font-size: 1rem;
}

#formsubmit:hover,
#formsubmit:focus {
  background: darken(#da913b, 10%);
  border: 1px solid darken(#da913b, 10%);
}